ensembl-prodinf-core~=2.0.0
Bootstrap-Flask
celery
elasticsearch>=6.8.1,<7.0.0
email_validator
Flask
flasgger
Flask-Cors
flask_wtf
git+git://github.com/mher/flower.git#egg=flower
gunicorn
mysqlclient
requests
SQLAlchemy
sqlalchemy_utils==0.37.0
wtforms
Jinja2
python-dotenv==0.17.1
