ensembl-prodinf-core~=2.0.1
Bootstrap-Flask
celery~=5.0.5
elasticsearch>=6.8.1,<7.0.0
email_validator
Flask
flasgger
Flask-Cors
flask_wtf
gunicorn
mysqlclient
requests
SQLAlchemy
sqlalchemy_utils==0.37.0
wtforms
Jinja2
git+https://github.com/Ensembl/ensembl-py.git#egg=ensembl-py
