/* set nav bar background*/
/*Base css*/
.hnav {
    background-color: #17a2b8;
}

.ui-autocomplete {
    position: absolute;
    cursor: pointer;
    max-height: 400px;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: auto; /* add padding to account for vertical scrollbar */
    z-index: 1000 !important;
}

* html .ui-autocomplete {
    width: 5px;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    float: left;
    clear: left;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

.ui-helper-hidden-accessible {
    display: none;
    color: white;
}

.ui-helper-hidden-accessible {
    position: absolute;
    left: -9999px;
}

/*Submit css for dropdown color*/
.ui-menu {
    list-style: aria;
    padding: 2px;
    width: 5px;
    margin: 0;
    background: #d6f3f3;
    color: #1a1a19;
    display: block;
    border: 2px solid #17a2b8 !important;
    float: unset;
}

.ui-menu .ui-menu-item-wrapper:hover {
    color: #303030;
    background-color: #aee2eb !important;
    border: rgb(2, 46, 9) 1px solid;
}

/*set button colors*/
.h-buttons {
    background-color: #17a2b8;
    color: white;
}

.h-border {
    border-color: #17a2b8 !important;
}

.progress {
    position: relative;
    height: 30px;
    border: ridge #ccc;
    border-width: 1px;
}

.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 5px 35px 7px 15px;
    color: rgb(105, 61, 61);
    background-color: rgba(25, 25, 25, 0);
}

.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}

.card {
    background-color: #fff;
    box-shadow: 2px 4px 15px 0px rgb(0, 108, 170);
    z-index: 0
}

.appfooter {
    background-color: #17a2b8;
}
