/* set nav bar background*/
/*Base css*/
.hnav {
    background-color: #8552c0;
}

.ui-autocomplete {
    position: absolute;
    cursor: pointer;
    max-height: 400px;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: auto; /* add padding to account for vertical scrollbar */
    z-index: 1000 !important;
}

* html .ui-autocomplete {
    width: 5px;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    float: left;
    clear: left;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

.ui-helper-hidden-accessible {
    display: none;
    color: white;
}

.ui-helper-hidden-accessible {
    position: absolute;
    left: -9999px;
}

/*Submit css for dropdown color*/
.ui-menu {
    list-style: aria;
    padding: 2px;
    width: 5px;
    margin: 0;
    background: #dda8e6;
    color: #1a1a19;
    display: block;
    border: 2px solid #8552c0 !important;
    float: unset;
}

.ui-menu .ui-menu-item-wrapper:hover {
    color: #e2d9d9;
    background-color: #8052b6 !important;
    border: #8552c0 solid;
}

/*set button colors*/
.h-buttons {
    background-color: #8552c0;
    color: white;
}

.h-border {
    border-color: #8552c0 !important;
}